<md-toolbar>
    <div class="md-toolbar-tools">
        <h3>
            <span>{{meta.local}}</span>
        </h3>
        <span flex></span>

        <md-switch ng-model="adminModel.turnedOff" class="md-warn" ng-if="adminLogged" style=" margin-right: 100px; " ng-change="turnOffFn()">
        {{ adminModel.turnedOff ? 'APAGAR' : 'PRENDER'}}</md-switch>
        <md-button class="md-raised md-primary" md-position-mode="target-right target" ng-click="goTo()">VOLVER</md-button>
    </div>
</md-toolbar>

<md-content class="stats" flex ng-if="!adminLogged">
    <div class="loginStats">
        <div class="loginHoldere">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Contraseña</label>
                <input type="password" ng-model="admin.password" required>
            </md-input-container>
            <div>
                <md-button ng-click="loginAdminFn()" class="md-raised md-primary" md-position-mode="target-right target">ENTRAR</md-button>
            </div>
        </div>

        <div ng-if="loginAdminMsg">
            <p style="margin: 0" class="alert alert-danger text-center">{{loginAdminMsg}}</p>
        </div>
    </div>
</md-content>

<md-content style="display: flex;" ng-if="adminLogged">
    <md-content>
        <h6 style="padding: 30px 10px 0px 10px">Ventas del Día </h6>
        <h2 class="datSells">{{daySells}}</h2>
    </md-content>

    <md-content style=" margin-left: 40px; ">
        <h6 style="padding: 30px 10px 0px 10px">Puntuación de usuarios</h6>
        <div class="statsCountainer">
            <div class="bar"></div>
            <div class="stars"></div>
        </div>
    </md-content>
</md-content>

<div ng-cloak ng-if="adminLogged">
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>

            <md-tab label="Historial de Ventas">
                <md-content flex style="margin-bottom: 100px">
                    <md-list>
                        <md-divider></md-divider>
                        <md-subheader class="md-no-sticky">Ventas del día ({{daySells}})
                        </md-subheader>
                        <md-divider></md-divider>
                        <div layout-gt-xs="row" class="salesFilters">
                            <div flex-gt-xs>
                                <md-datepicker ng-model="filters.date" md-placeholder="Filtrar por fecha" md-open-on-focus ng-change="filterByDate(records)"></md-datepicker>
                                <md-button class="md-primary md-raised" ng-click="clearFilterByDate()">TODAS</md-button>
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <md-list-item class="md-3-line" ng-repeat="r in sales | orderBy: '-finished_time'" ng-click="item()">
                            <div class="md-list-user-text">
                                <h4>Número de orden:
                                    <b>{{r.invoice}}</b>
                                </h4>
                                <h6 class="pie-lista">
                                    <b> Nombre </b> {{r.name}} |
                                    <b> Tiempo de atención: </b>{{getAttentionTime(r)}} Min |
                                    <b> Fecha: </b>{{ r.finished_time | date: 'dd/MM/yyyy' }} |
                                    <b> Puntuación: </b>{{r.qualification}}</h6>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-tab>

            <md-tab label="Perfil">
                <md-content layout-padding flex style="margin-bottom: 100px">
                    <h5>{{meta.local}}</h5>
                    <hr style="border: none; margin-bottom: 0">
                    <md-input-container>
                        <label>Usuario:</label>
                        <input type="text" ng-model="adminModel.email" ng-blur="saveEmailFn(admin._id)">
                    </md-input-container>
                    <p class="small badge badge-success" ng-if="emailSaved">Email guardado con exito</p>
                    <hr>
                    <h5>Cambiar contraseña de cuenta:</h5>
                    <form ng-submit="changePassFn(admin._id)">
                        <md-input-container>
                            <label>Contraseña actual:</label>
                            <input type="password" ng-model="adminModel.password" required>
                        </md-input-container>
                        <md-input-container>
                            <label>Contraseña Nueva:</label>
                            <input type="password" ng-model="adminModel.newPassword" required>
                        </md-input-container>
                        <md-input-container>
                            <label>Repetir Contraseña Nueva:</label>
                            <input type="password" ng-model="adminModel.repPassword" required>
                        </md-input-container>
                        <div>
                            <p class="small badge badge-danger" ng-if="msgErr">{{msgErr}}</p>
                            <p class="small badge badge-success" ng-if="passChanged">{{passChanged}}</p>
                        </div>
                        <div>
                            <md-button class="md-raised md-primary" md-position-mode="target-right target" type="submit">CAMBIAR</md-button>
                        </div> 
                        <hr>
                        <md-input-container>
                            <label>Contraseña de administrador:</label>
                            <input type="text" ng-model="adminModel.adminPass" ng-blur="saveAdminPassFn(admin._id)">
                        </md-input-container>
                        <p class="small badge badge-success" ng-if="adminPassSaved">Contraseña de administrador cambiada guardado con exito</p>
                    </form>

                </md-content>
            </md-tab>

        </md-tabs>
    </md-content>
</div>




<div class="logo">
    <img src="assets/img/logo.svg">
</div>