.logo {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

md-list-item .md-avatar, md-list-item .md-list-item-inner .md-avatar { 
    width: 70px;
    height: 70px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px; 
}

.mainContent {
    display: flex;
}

md-list { 
    padding: 0px 0px 8px 0px;
}

.listsContent {
    display: flex;
}

md-content.stats {
    height: 90vh;
    background: #f1f1f1;
}

.loginHoldere {
    position: absolute;
    display: -webkit-box;
    background: #fff;
    top: 150px;
    left: calc(50% - 150px);
    width: 300px;
    text-align: center;
    padding: 20px;
}

md-input-container {
    margin: 10px 0 0 0;
}

.md-errors-spacer {
    display: none;
}

.statsCountainer {
    width: 200px;
    height: 81px;
    position: relative; 
}

.statsCountainer .stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 90%;
    z-index: 2;
    background: #f6a123;
    transition: width 2s ease;
}

.statsCountainer .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: url(/assets/img/stars.svg);
    background-size: 101% 105%;
    background-position-y: -4px;
    background-repeat: no-repeat;
    transition: width 2s ease;
}

.statsCountainer img {
    width: 100%;
}

md-chips.md-default-theme .md-chips, md-chips .md-chips {
    box-shadow: none;
}

h6.pie-lista {
    font-weight: 400;
}

.datSells{
    font-size: 36px;
    color: #009688;
    border: 1px solid #009688;
    border-radius: 500px;
    display: inline-block;
    padding: 3px 13px;
    margin-top: 15px;
    margin-left: 10px;
}

.salesFilters{
    margin: 10px 0
}

.md-datepicker-input-container { 
    width: 300px;
}