<md-toolbar>
    <div class="md-toolbar-tools">
        <h3>
            <span>NodeJsMessengerBot</span>
        </h3>
        <span flex></span> 
        <md-button class="md-icon-button" aria-label="Logout" ng-click="logout()">
            <md-icon md-svg-icon="logout.svg" class="favorite-icon"></md-icon>
        </md-button>
    </div>

</md-toolbar>

<md-content flex layout-padding>
    <p>Conversación de Messenger:</p>
    <ul class="chat">
        <li ng-repeat="msg in msgs track by $index">{{msg}}</li>
    </ul>
</md-content>
 