<md-toolbar>
    <div class="md-toolbar-tools">
        <h3>
            <span>{{meta.local}}</span>
        </h3>
        <span flex></span>
        <md-button class="md-raised md-primary" md-position-mode="target-right target" href="/stats">VER STATS</md-button>
        <md-button class="md-icon-button" aria-label="Logout" ng-click="logOut()">
            <md-icon md-svg-icon="/assets/img/logout.svg" class="favorite-icon"></md-icon>
        </md-button>
    </div>

</md-toolbar>

<md-content flex>
    <md-list>
        <md-divider></md-divider>
        <md-subheader class="md-no-sticky">Lista de usuarios registrados</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="user in users" ng-click="item()">
            <!-- <img ng-src="{{user.photo}}" alt="{{user.name}}" class="md-avatar">-->
            <div class="md-list-user-text">
                <h3>{{user.invoice}}</h3>
                <h6>{{user.name}}</h6>
            </div>
            <md-divider inset></md-divider>
            <md-button class="md-secondary md-raised md-primary" ng-click="callUserFn(user)" ng-disabled="user.called">LLAMAR</md-button>
            <md-button class="md-secondary md-raised md-primary" ng-click="finishUserFn(user)" ng-disabled="!user.called">FINALIZAR</md-button>
        </md-list-item>
    </md-list>
</md-content>


<div class="logo">
    <img src="assets/img/logo.svg">
</div>