.logo {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

md-list-item .md-avatar, md-list-item .md-list-item-inner .md-avatar { 
    width: 70px;
    height: 70px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 5px; 
}