.dashboard-icon {
    position: absolute;
    right: 23px;
}
 
.panel{
    border: none;
}
.panel a {
    color: #828282;
    font-weight: 600;
}
 
md-switch.md-primary { 
    text-align: center;
    padding: 0 20%;
    margin: 0;
}

.iframe iframe {
    width: 70vw;
    height: 600px;
}

.switch {
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 0;
    background: #65bc65;
    padding: 0 10px;
    color: #fff;
}

.md-dialog-container { 
    z-index: 9999; 
}

.close {
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 1px;
    color: white;
    background: #00827f;
    z-index: 999999;
    opacity: 1;
}

.iframe {
    padding: 0;
    overflow: hidden;
}

.panel-blue > .panel-heading {
    border-color: #4facc3;
    color: #fff;
    background-color: #4facc3;
}

.panel-purple {
    background: purple;
    color: #fff;
}

.panel-orange{
    background: #ff4e0e;
    color: #ffffff
}

.panel-azul{
    background: #363cf5;
    color: #ffffff
}