ul{
    padding: 0; 
}
li {
    color: black;
    list-style: none;
}
li:nth-child(odd) {
    color: #2a2a2a;
    padding: 10px;
    background: #e6e8e9;
    display: table;
    border-radius: 10px;
    font-size: 19px;
    margin-bottom: 10px;
}
li:nth-child(even) {
    color: #2a2a2a;
    padding: 10px;
    background: #a6dffb;
    border-radius: 10px;
    font-size: 19px;
    margin-bottom: 10px;
    float: right;
    display: table;
}