<md-dialog aria-label="Eliminar guardia">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Cerrar Sesión</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="assets/img/icons/x.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2></h2>
                <div layout-gt-sm="row">
                    <h5 class="text-center" style="width: 100%">¿Estás segur@?</h5>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-raised md-primary" type="submit" ng-disabled="buttonDisabled" ng-click="logOut()">
                ACEPTAR
            </md-button>
            <md-button class="md-raised md-primary" ng-click="cancel()">
                CANCELAR
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>