<div class="container" style="margin-top: 0; padding-top: 20px">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="account-wall">
                <md-content layout-padding>
                    <div>
                        <img class="profile-img" src="assets/img/logo.svg" alt="">
                        <h6 class="text-center">{{meta.local}}</h6>
                        <br>
                        <form ng-submit="loginFn()"> 
                            <md-input-container class="md-block" flex-gt-xs >
                                <label>Usuario</label>
                                <input type="text" ng-model="user.email" required>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs >
                                <label>Contraseña</label>
                                <input type="password" ng-model="user.password" required>
                            </md-input-container> 
                            <div ng-if="loginMsg">
                                <p class="alert alert-danger" ng-if="loginMsg">{{loginMsg}}</p>  
                                <br> 
                            </div>
                            <div>
                                <md-button type="submit" class="md-raised md-primary" md-position-mode="target-right target" ng-if="!rememberPass">ENTRAR</md-button> 
                            </div> 
                            </div>
                        </form>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>
<div class="login-bg"></div>